:root{  

    --bool-blue:#47ACF1;
    --bool-green:#64C0A8;
    --bool-lightgreen:#B0C926;
    --bool-orange:#F29D33;
    --bool-purple:#9C72E4;
    --bool-light:#DCDFE2;
    --bool-lighter:#FFFFFF;
    --bool-dark:#444851;
}    /* color palette */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region header */
.container{
    background-color: var(--bool-lighter);
    background-size: 290px;
    height: 70px;

}

#logo{
    padding: 12px;
}

#logo_img{
    vertical-align: middle;
}

#logo_text{
    font-size: 36px;
    vertical-align: middle;   
   
}
/* #endregion header */