:root{  

    --bool-blue:#47ACF1;
    --bool-green:#64C0A8;
    --bool-lightgreen:#B0C926;
    --bool-orange:#F29D33;
    --bool-purple:#9C72E4;
    --bool-light:#f6f8f9;
    --bool-lighter:#FFFFFF;
    --bool-dark:#444851;
    --bool-grey:#cdd2d5;
    --bool-red:#eb5952;
}    /* color palette */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bool-light);
}
/* #region header */

.header_container{
    background-color: var(--bool-lighter);
    background-size: 290px;
    height: 70px;

}

#logo{
    padding: 12px;
}

#logo_img{
    vertical-align: middle;
}

#logo_text{
    font-size: 36px;
    vertical-align: middle;   
   
}
/* #endregion header */

/* region main */

main{
    margin-left:20px ;
}

 .container{
    background-color: var(--bool-lighter);
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    padding: 20px;


}

section{
    
    padding-bottom: 30px;
}

#btn_1{
    background-color: var(--bool-blue);
    color: var(--bool-lighter);
    padding: 8px 10px;
    border-radius: 0.3rem;
    text-decoration: none;
    border: none;
}

#btn_2{
    background-color: var(--bool-lighter);
    color: var(--bool-grey);
    padding: 7px 10px;
    border-radius: 0.3rem;
    text-decoration: none;
    border: solid var(--bool-grey);
}

#main_section{
    margin-top: 1px;
}
.check{
    font-size: 12px;
    color: var(--bool-green);
    border: 1px solid var(--bool-green);
    border-radius: 100%;
    padding: 2px 5px;
}

.cross{
    font-size: 12px;
    color: var(--bool-red);
    border: 1px solid var(--bool-red);
    border-radius: 100%;
    padding: 2px 5px;
}
.bluetag{
    background-color: var(--bool-blue);
    background-size: contain;
    color: var(--bool-lighter);
    padding: 7px;
    font-size: 0.7rem;
    border-radius: 50px;
}
.purpletag{
    background-color: var(--bool-purple);
    background-size: contain;
    color: var(--bool-lighter);
    padding: 7px;
    font-size: 0.7rem;
    border-radius: 50px;
}
.greentag{
    background-color: var(--bool-green);
    background-size: contain;
    color: var(--bool-lighter);
    padding: 7px;
    font-size: 0.7rem;
    border-radius: 50px;
}

.orangetag{

    background-color: var(--bool-orange);
    background-size: contain;
    color: var(--bool-lighter);
    padding: 7px;
    font-size: 0.7rem;
    border-radius: 50px;
}
.section{
    padding-top: 10px;
    padding-bottom: 10px;
}